<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Chi tiết sản phẩm</title>
</head>
<body>
<h1 th:text="${product.name}"></h1>
<p><strong>Giá:</strong> <span th:text="${product.price}"></span></p>
<p><strong>Nhà sản xuất:</strong> <span th:text="${product.manufacturer}"></span></p>
<p><strong>Mô tả:</strong></p>
<p th:text="${product.description}"></p>

<p>
    <a th:href="@{/products}">Quay lại</a>
    <a th:href="@{|/products/edit/${product.id}|}">Sửa</a>
</p>

</body>
</html>
